FILE_DOWNLOAD_ENDPOINT=http://localhost:3333/addons/file-sync/file-content
FILE_UPLOAD_ENDPOINT=http://localhost:3333/measurements/create
EVENTS_ENDPOINT=http://localhost:3333/addons/events
EVENTS_TOPIC=transfer
PROCESSOR_ID=b1505_001
PROCESSOR_COLLECTION=transfer
SERVICE_TOKEN=
