FILE_DOWNLOAD_ENDPOINT=http://localhost:3333/addons/file-sync/file-content
FILE_UPLOAD_ENDPOINT=http://localhost:3333/files/create
EVENTS_ENDPOINT=http://localhost:3333/addons/events
EVENTS_TOPIC=b1505
PROCESSOR_ID=b1505_001
